@import 'variables.css';

.wrapper {
  margin: calc(var(--default-padding) / 2) 0px;
  padding: calc(var(--default-padding) / 2);
  border: solid 1px rgba(200, 200, 200, 0.2);
  box-shadow: var(---shadow-2);
  background-color: #FFF;
}
.advancedContainer {
  font-size: var( --normal-text);
  display: none;
  position: relative;
  background: #fff;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  /* margin: 0 var(--default-padding); */
  padding: 10px 0 10px 0;
  &.show {
    display: block;
  }
}
.overflow {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow: visible ; */
  padding-left: 5px !important;
  padding-right: 5px !important;
}
._line {
  width: 100%;
  display: flex !important;
  align-items: center;
  font-size: 9px;
  line-height: 1px;
  margin: 0px !important;
  padding: 0px !important;
}
._margin_0 {
  margin: 0 !important;
}
.group {
  /* padding: calc(var(--default-padding) / 4); */
  /* border: solid 1px rgba(200, 200, 200, 0.2); */
  /* margin: calc(var(--default-padding) / 4) 0px; */
  /* background-color: rgba(128, 128, 128, 0.1); */
  padding-left: 10px;
  /* border-bottom: 1px solid #000000; */
}

.search {
  margin: calc(var(--default-padding) / 4);
  position: relative;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  .input {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .tag {
    padding: 0px 8px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 196px;
  }
  .advanced {
    padding: 0px 0px 0px 8px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}


.row {
  display: flex;
  align-items: center;

  .type {
    position: relative;
    flex-grow: 1;
    width: 120px;
    margin: 5px;
    flex-shrink: 1;
  }
  .dropdown {
    border: none !important;
  }

  .input {
    position: relative;
    margin: 5px;
    flex-grow: 2;
    width: 120px;
    flex-shrink: 1;
  }

}

._padding5 {
  padding: 5px !important;
}
._padding0 {
  padding: 0 !important;
}
._margin0 {
  margin: 0 !important;
}


.absolute {
  position: absolute !important;
}

.title {
  font-weight: bold;
  padding: 0 0 0 5px !important;
}
.fTitle {
  padding-left: 20px !important;
}

.buttonContainer {
  margin: 8px 0;
  /* padding: 2px; */
  text-align: right;
}
.textOr {
  margin: 10px 0;
  text-align: center;
  display: inline-block;
  min-width: 70px;
}
.addOr {
  /* min-width: 70px; */
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
.marginGroup {
  margin: 15px 0 !important;
}
._paddingtop5 {
  padding: 5px 0 0 0 !important;
}
._paddingBottom5 {
  padding: 0 5px 5px 0 !important;
}
.btn {
  /* width: 80%; */
  width: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* line-height: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important; */
}
.savedSearchesContent {
  padding: 5px 10px !important;
  position: relative;
}
.listAction {
  display: flex;
  width: 90%;
}
.action {
  background: white !important;
  min-width: 70px;
}

.activeAndOr {
  height: 28px;
  font-size: var(--normal-text) !important;
  background: rgb(224, 225, 226) !important;
  color: rgb(140, 140, 140) !important;
}
.disableAndOr{
  background-color: rgb(240, 240, 240) !important;
  opacity: 1 !important;
  height: 28px;
  font-size: var(--normal-text) !important;
}
.btn:hover {
  background-color: #C0C1C2 !important;
  color: #000 !important;
}

.active {
  background: rgb(32, 56, 70) !important;
  color: white !important;
  height: 28px;
  font-size: var(--normal-text) !important;
}
.active:hover {
  background-color: #1a3848c4 !important;
}
.disabled {
  background: rgba(224, 225, 226, 1) !important;
  height: 28px;
  font-size: var(--normal-text) !important;
}

.iconRemove {
  background: transparent !important;
}
._textCenter {
  text-align: right;
  vertical-align: middle !important;
}
.menuSearch {
  text-align: center;
  margin-top: 10px;
  button.disabled:disabled {
    opacity: 1 !important;
  }
}

.iconClose {
  position: absolute;
  right: 40px;
  top: 10;
  background: url('../../../../public/Close.svg');
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
}
.btnRemoveRow {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  height: 100%;
}
.btnRemoveRow i {
  border: none !important;
}
._wrapInputText {
  padding-right: 10px !important;
}
._wrapInputText> div {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  position: unset;
  display: inline-block;
  margin-left: -100%;
  padding-left: 5px;
  margin-top: 0 !important;
  max-height: 150px !important;
}
.required {
  color: red;
  display: inline-block;
  margin: 0px 2px;
  font-size: var(--normal-text);
}
._wrapInputText input {
  position: unset !important;
  width: 100% !important;
  display: inline-block !important;
  padding-left: 0!important;
}
._wrapInputText i {
  position: relative !important;
  top: 0 !important;
  /* position: unset !important;
  width: auto !important;
  left: 0 !important;
  padding-left: 0 !important; */
}

.line {
  display: flex;
  flex: 1;
  height: 1px;
  background: #404446;
  padding: 0 !important;
}

.line:first-child {
  margin-right: 3px;
}

.line:last-child {
  margin-left: 3px;
}
.hide {
  display: none !important;
}
/*action check*/
.bgMore {
  background-color: #f3f4f4;
}
.bgMore
{
  height: var(--list-icon-size);
  width: var(--list-icon-size);
  min-height: var(--list-icon-size);
  min-width: var(--list-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.column {
  font-size: var(--normal-text);
  display: table-cell;
  vertical-align: middle;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 10px 5px;
  align-self: center;
}

.check {
  composes: column;
  width: 50px;
  /*height: 100%;*/
  /*display: inherit;*/
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.positionNone {
  position: inherit !important;
  transform: none !important;
  -webkit-transform: none !important;
}

@media (min-width: 700px) {
  .menuSearch {
    text-align: left;
    margin-top: 10px;
    display: flex;
    button.disabled:disabled {
      opacity: 1 !important;
    }
  }
  .check {
    padding-top: 4px !important;
  }
}
@media (min-width: 1280px) {
  .menuSearch {
    text-align: left;
    margin-top: 10px;
    display: flex;
    button.disabled:disabled {
      opacity: 1 !important;
    }
  }
  .check {
    padding-top: 4px !important;
  }
}
@media (min-width: 1300px) {
  .menuSearch {
    text-align: left;
    margin-top: 10px;
    display: flex;
    button.disabled:disabled {
      opacity: 1 !important;
    }
  }
  .check {
    padding-top: 4px !important;
  }
}
@media (min-width: 1500px) {
  .menuSearch {
    text-align: center;
    display: block;
    margin-top: 10px;
    button.disabled:disabled {
      opacity: 1 !important;
    }
  }
}
._form {
  padding-right: 1rem;
  padding-left: 0.43rem;
  font-size: var(--normal-text);
}
._form ._label {
  width: 110px !important;
  min-width: 110px !important;
  padding-top: 1.5%;
  padding-left: 1.36%;
  font-weight: 700;
  font-size: var(--normal-text) !important;
}
._form ._input{
  width: 100%;
   font-size: var(--normal-text) !important;
}
._form input {
  font-size: var(--normal-text);
  height: 28px;
  line-height: 28px;
}
.inputWraper {
  width: 74% !important;
  margin-left: 5px !important;
}

.shareWithButton {
  height: 28px !important;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  font-size: var(--normal-text) !important;
}
.inputWraper100 {
  width: 100% !important;
  margin-left: 5px !important;
}
.mpe_area_content {
  min-height: 35vh;
}
.list_tag {
  margin: 10px 0;
  font-size: 12px;
}
.list_tag label {
  margin-right: 10px;
}
.tags {
  display: inline-block;
  width: 25%;
  text-align: center;
  position: absolute;
  border: 1px solid #ccc;
  border-right: none;
  padding: 5px 0;
  z-index: 1;
}
.tags div {
  margin: 2px 2px;
  padding: 4px 8px;
  border-radius: 4px;
  max-width: 100px;
  font-size: var(--normal-text);
  display: inline-block;
  cursor: pointer;
}
.attach span {
  /* margin-left: 2px; */
  cursor: pointer;
  font-size: var(--normal-text);
}
.attach {
  display: table;
}
.labelAttach {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  min-width: 130px;
}
.labelAttach i {
  font-size: 15px;
}
.listFileAttach {
  display: table-cell;
}
.listFileAttach div{
  display: inline-block;
  padding: 2px 15px;
  background: #488AC6;
  border-radius: 2px;
  color: white;
  margin-right: 5px;
  margin-top: 5px;
  max-width: 150px;
  white-space: nowrap;
  font-size: var(--normal-text) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.listFileAttach i {
  color: white;
  right: 2px;
  position: absolute;          
}
._checkbox {
  font-size: var(--normal-text) !important;
}

