@import 'variables.css';

.root {
}

.welcome {
  /*color: #fff;*/
}

.header {
  /*background: #14313d !important;*/
  background: #f0f0f0 !important;
  border-bottom: 0px !important;
}

.content {
  /*background: #14313d !important;*/
  background: #f0f0f0 !important;
  height: 500px;
  width: 360px;
  font-size: 14px !important;
  font-weight: bold;
}

.letget {
  width: 50%;
  margin: 0 auto;
}

.action {
  /*background: #14313d !important;*/
  background: #f0f0f0 !important;
  border-top: none !important ;
}
.button{
  background-color: #11313C !important;
}
