.root {
}

.title {
    color: #173849;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title button {
    color: #173849 !important;
    background-color: transparent !important;
    border: 1px solid #173849 !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    font-size: 14px !important;
}

.title h2{
    font-size: 24px;
    margin: 0px;
}

.nextBtn {
    background-color: #173849 !important;
    border-radius: 5px !important;
    padding: 10px 15px !important;
    color: #fff !important;
    font-weight: normal !important;
    font-size: 14px !important;
}

.backToSignInBtn {
    border-radius: 5px !important;
    padding: 10px 15px !important;
    font-size: 14px !important;
}

.formForgot input{
    border-radius: 4px !important;
}

.formForgot .box:before, .formForgot label:before {
    border-color: rgba(23, 56, 73, 0.75) !important;
    height: 16px !important;
    width: 16px !important;
}

.formForgot .box:after, .formForgot label:after {
    color: #173849 !important;
    height: 16px !important;
    width: 16px !important;
}

.formForgot .button {
    border-radius: 7px !important;
}

.formForgot label {
    font-size: 14px !important;
    font-weight: normal !important;
}
.errorText {
  color: #ed684e;
  text-align: center;
  font-size: calc(var(--font-size-base) - 2px);
}
