@import 'variables.css';

.wrapper {
  line-height: 1.5em;
  display: block;
  margin: 4px 0px;
  width: 100% !important;
  border-style: solid solid solid solid;
  border-width: 1px;
  border-color: var(--border-color);
  border-radius: 2px;
  padding: 4px;
  font-size: var(--normal-text) !important;
  
  label {
    font-size: var(--normal-text) !important;
  }
}
