@import 'variables.css';

.root {
}

.crop {
  color: #fff;
}

.header {
  border-bottom: 0px !important;
}

.content {
  background: #14313d !important;
  height: 500px;
  width: 360px;
  font-size: 14px !important;
  text-align: center;
}

.action {
  text-align: right;
}
