.infoIcon {
    background: url('../../../public/info.svg');
    background-size: 100% 100%;
    height: var(--list-icon-size);
    width: var(--list-icon-size);
    min-width: var(--list-icon-size);
    max-width: var(--list-icon-size);
    max-height: var(--list-icon-size);
    min-height: var(--list-icon-size);
}

.header {
  font-size: 11px;
}

.descriptionFirstNextStep {
  font-size: 11px !important;
  font-weight: 300;
}

.email, .phone {
  font-size: 11px !important;
}
