.container {
  width: 100%;
  /* border: 1px solid rgb(227,227,227); */
  font-size: 11px;
}

.cell {
  border-top: 0.5px solid rgb(227,227,227) !important;
  border-left: 0.5px solid rgb(227,227,227) !important;
  height: 25px !important;
  max-height: 25px !important;
  min-height: 25px !important;
  min-width: 60px;
}
.cell:first-child {
    border-left: 0px solid rgb(227,227,227) !important;
}

.rowFirst {
    border-top: 0px solid rgb(227,227,227) !important;
}


.bold {
    font-weight: 600 !important;
}

.table {
    /* margin: 10px !important; */
    width: calc(100% - 10px) !important;
}