.secondary {
  align-items: flex-start;
  min-width: 100%;
  margin-left: 0px !important;
  padding-top: 10px !important;
  margin-bottom: 10px !important;
  padding-right: 0px !important;
}

.chevron {
  background-color: transparent !important;
  margin-top: -4px !important;
}

.chevron i {
  font-size: 12px !important;
}

.title {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  padding: 7px 0.6rem 0px 0.9rem;
  padding-left: 20px !important;
  margin-top: 1px !important;
}

.itemDropdown {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
  .left {
    display: flex !important;
    align-items: center !important;
  }
}

.period {
  margin: 0px !important;
  padding: 0px !important;
  font-size: var(--normal-text) !important;
}

.count {
  background-color: #f3f4f4;
  color: #808080;
  padding: 0px 6px;
  border-radius: 37%;
  margin-left: 5px;
  font-size: 11px;
  left: 100px;
  top: 4px;
  font-weight: 400;
}

.font11 {
  font-size: var(--normal-text) !important;
  font-weight: 500 !important;
}

.periodBtn {
  height: 28px !important;
  width: 28px !important;
  margin-right: 7px !important;
  padding: 0px !important;
  border-radius: 6px !important;
  &.TASK {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }

  &.LEAD {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }

  &.DELEGATION_LEADS {
    color: #7d7fbc !important;
    background-color: #e6e6f2;
  }

  &.PIPELINE_QUALIFIED {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }
  &.PIPELINE_ORDER {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }
  &.APPOINTMENT {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }
}

.periodBtnExpand {
  margin-right: 7px !important;
  padding: 0px 7px !important;
  border-radius: 6px !important;
  &.TASK {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }

  &.LEAD {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }

  &.DELEGATION_LEADS {
    color: #7d7fbc !important;
    background-color: #e6e6f2;
  }

  &.PIPELINE_QUALIFIED {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }
  &.PIPELINE_ORDER {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1);
  }
  &.APPOINTMENT {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }
}

.periodBtnExpandActive {
  margin-right: 7px !important;
  padding: 0px 7px !important;
  border-radius: 6px !important;
  color: #fff !important;

  &.TASK {
    background-color: #f8c168 !important;
  }

  &.LEAD {
    background-color: #ee8267 !important;
  }

  &.DELEGATION_LEADS {
    background-color: #e6e6f2 !important;
  }

  &.PIPELINE_QUALIFIED {
    background-color: #ee8267 !important;
  }
  &.PIPELINE_ORDER {
    background-color: #ee8267 !important;
  }

  &.APPOINTMENT {
    background-color: #f8c168 !important;
  }
}

.activePeriodBtn {
  height: 28px !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-right: 7px !important;
  border-radius: 6px !important;
  color: #fff !important;
}

.active {
  &.TASK {
    background-color: #f8c168 !important;
  }

  &.LEAD {
    background-color: #ee8267 !important;
  }
  &.CONTACT {
    background-color: rgb(97, 153, 139) !important;
  }

  &.DELEGATION {
    background-color: #7d7fbc !important;
  }

  &.DELEGATION_LEADS {
    background-color: #7d7fbc !important;
  }

  &.CALL_LIST_CONTACT {
    background-color: rgb(161, 125, 136) !important;
  }

  &.PIPELINE_QUALIFIED {
    background-color: #ee8267 !important;
  }
  &.PIPELINE_ORDER {
    background-color: #ee8267 !important;
  }
  &.APPOINTMENT {
    background-color: #f8c168 !important;
  }
}

.inActive {
  &.TASK {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }

  &.LEAD {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1) !important;
  }

  &.CONTACT {
    color: rgb(97, 153, 139) !important;
    background-color: rgb(235, 243, 240) !important;
  }

  &.DELEGATION {
    color: #7d7fbc !important;
    background-color: rgba(125, 127, 188, 0.1) !important;
  }

  &.DELEGATION_LEADS {
    color: #7d7fbc !important;
    background-color: rgba(125, 127, 188, 0.1) !important;
  }

  &.PIPELINE_QUALIFIED {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1) !important;
  }
  &.PIPELINE_ORDER {
    color: #ee8267 !important;
    background-color: rgba(238, 130, 103, 0.1) !important;
  }
  &.CALL_LIST_CONTACT {
    color: rgb(161, 125, 136) !important;
    background-color: rgb(243, 240, 239) !important;
  }
  &.APPOINTMENT {
    color: #f8c168 !important;
    background-color: rgba(248, 193, 104, 0.1);
  }
}

.periodBtn:hover,
.customPeriodBtn:hover,
.periodBtnExpand:hover {
  color: #fff !important;
  &.TASK {
    background-color: #f8c168 !important;
  }

  &.LEAD {
    background-color: #ee8267 !important;
  }

  &.CONTACT {
    background-color: rgb(97, 153, 139) !important;
  }

  &.DELEGATION {
    background-color: #7d7fbc !important;
  }

  &.DELEGATION_LEADS {
    background-color: #7d7fbc !important;
  }

  &.PIPELINE_QUALIFIED {
    background-color: #ee8267 !important;
  }
  &.PIPELINE_ORDER {
    background-color: #ee8267 !important;
  }
  &.CALL_LIST_CONTACT {
    background-color: rgb(161, 125, 136) !important;
  }
  &.APPOINTMENT {
    background-color: #f8c168 !important;
  }
}

.customPeriodBtn {
  border-radius: 6px !important;
}

.activeCustomPeriodBtn {
  border-radius: 6px !important;
  color: #fff !important;
}

.filterIcon {
  width: 16px;
  max-width: unset !important;
}

.rightIconOnly {
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50% !important;
  justify-content: center;
  margin: 0px 0px 0px 0px !important;
}
.rightIconOnly:hover,
.rightIconOnly:active {
  background-color: #f0f0f0 !important;
}

.rightIconOnly:last-child {
  margin-left: 0px !important;
  margin: 0px 40px 0px 0px !important;
}

.rightIcon {
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50% !important;
  justify-content: center;
  margin: 0px 0px 0px 0px !important;
}

.rightIcon:first-child {
  margin-right: 5px !important;
}

.rightIcon:hover,
.rightIcon:active {
  background-color: #f0f0f0 !important;
}

.circleAvtive {
  background-color: #f0f0f0 !important;
}

.rightIcon:last-child {
  margin-left: 0px !important;
  margin: 0px 11px 0px 0px !important;
}

.singleLine {
  display: flex;
  margin-top: 3px !important;
  .item {
    padding: 0px !important;
  }
}

.periods {
  margin-left: 0px !important;
  padding: 4px 0em 4px 0em;
}

.centerChild {
  align-items: flex-start;
  flex: 1;
  justify-content: center !important;
  flex-wrap: wrap !important;
  align-items: center !important;
}

.classMrB0 {
  padding: 0px 0rem !important;
}

.historyIcon {
  width: var(--header-icon-size);
  min-width: var(--header-icon-size);
  height: var(--header-icon-size);
}

.circleFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  margin: 0px 0px 0px 0px !important;
}

.circleFlex:hover,
.circleFlex:active {
  background-color: #f0f0f0 !important;
}

.circleFlexAvtive {
  background-color: #f0f0f0 !important;
}
.haveFilter {
  align-items: center !important;
  padding-right: 21px !important;
}

.noFilter {
  align-items: center !important;
  padding-right: 41px !important;
}

.buttonSave {
  background-color: #1a3848 !important;
  font-weight: 500 !important;
  color: #fff !important;
  padding: 0px 0.7em !important;
  min-width: 70px;
  height: 28px !important;
  font-size: 11px !important;
}
