.headerStyleCustom{
  border: none;
  border-bottom: 1px solid #d4d4d5;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
