.inputWraper {
  width: 502px;
  div {
    div {
      input {
        height: 28px !important;
        font-size: 11px !important;
      }
    }
  }
}

.inputField {
  height: 28px !important;
  .ui.input {
    input {
      height: 28px !important;
    }
  }
}

.addMailchimpModal {
  width: 650px !important;
  height: auto !important;
}

.addMailchimpModal button:nth-child(2) {
  margin-right: 11px !important;
}
.label {
  margin-left: 10px;
}
