
.CL_Area_Import {
    text-align: center;
    background-color: #f0f0f0;
    padding: 100px 20px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.SuggestText {
    font-size: 11px;
    /* font-weight: bold; */
    padding-left: 7px;
}
