@import 'variables';

.collapsible {
  display: flex;
  flex-direction: column;

  & + .collapsible.margin {
    margin-top: 4px;
  }
}

.container {
  flex-grow: 1;
  margin: 0em -1px;
  box-sizing: border-box;
  transition: max-height var(--transition-duration) ease-in-out;
  border-radius: 0 0 2px 2px;
  border-bottom: 1px solid rgba(240, 240, 240, 0.75);
  background-color: #FFFFFF;
  border-top: none;
  /* overflow: hidden; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.count {
  height: 15px;
  background-color: #f3f4f4;
  color: #808080;
  padding: 2px 6px;
  border-radius: 37%;
  margin-left: 5px;
  font-size: 11px;
  top: 6px;
  margin-bottom: 5px;
  font-weight: 400;
}

.wrapper {
  &.flex {
    display: flex;
    &.vertical {
      flex-direction: column;
    }
  }
  &.padded {
    padding: var(--default-padding);
  }
}

.collapsibleHeader {
  font-size: var(--normal-text);
  border: none !important;
  border-bottom: 1px solid #d4d4d5 !important;
}

.childDescription {
  position: relative;
  font-size: var(--normal-text);
  background-color: #fff !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  display: none;
}
.noRightMenu {
  position: absolute !important;
  right: 5px !important;
}
/* .collapsibleHeaderRelative {
  position: relative !important;
} */

.absoluteIcon {
  position: absolute;
  top: -12.5px;
  left: 141.5px;
  background-color: rgb(239,239,239);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    margin: 0px !important;
    color: rgb(135,135,135)
  }
}
